<a href="https://colab.research.google.com/github/JadsonLago/sqlAlchemy/blob/main/UsandoSQLAlchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.20)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (2.0.2)

In [37]:
import sqlalchemy

In [38]:
sqlalchemy.__version__

'2.0.20'

### **Conectando ao banco de dados**

In [39]:
engine = sqlalchemy.create_engine('sqlite:///enterprise.db', echo=True)

### **Declarando o mapeamento**

In [40]:
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String

In [41]:
Base = declarative_base()

In [42]:
# @title Estrutura da classe (tabela) User
class User(Base):
    __tablename__='users' #Obrigatório
    #Colunas da tabela
    id = Column(Integer, primary_key=True)#Obrigatório
    name = Column(String(50))
    fullname = Column(String(50))
    age = Column(Integer)

    def __repr__(self): #Método add para formatar informações salva em memória
        return "<User(name={}, fullname={}, age={})>".format(
            self.name, self.fullname, self.age)

## **Criar a tabela no banco de dados**

In [43]:
Base.metadata.create_all(engine)

2023-09-24 03:10:38,298 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-09-24 03:10:38,301 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("users")

2023-09-24 03:10:38,304 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-09-24 03:10:38,307 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("users")

2023-09-24 03:10:38,310 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-09-24 03:10:38,312 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR(50),
	fullname VARCHAR(50),
	age INTEGER,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR(50),
	fullname VARCHAR(50),
	age INTEGER,
	PRIMARY KEY (id)
)

2023-09-24 03:10:38,316 INFO sqlalchemy.engine.Engine [no key 0.00416s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00416s] ()

2023-09-24 03:10:38,332 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

## **Criar instâncias da classe**

In [44]:
user = User(name='Enzo', fullname='Francisco Enzo', age = 20)

In [45]:
user.name

'Enzo'

In [46]:
user.fullname

'Francisco Enzo'

## **Criar uma sessão**

In [47]:
from sqlalchemy.orm import sessionmaker

In [48]:
Session = sessionmaker(bind=engine)
Session

sessionmaker(class_='Session', bind=Engine(sqlite:///enterprise.db), autoflush=True, expire_on_commit=True)

In [49]:
session = Session()

## **Adicionar objetos (INSERT)**

In [50]:
session.add(user)

In [51]:
session.commit()

2023-09-24 03:10:38,386 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-09-24 03:10:38,390 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?)

2023-09-24 03:10:38,393 INFO sqlalchemy.engine.Engine [generated in 0.00333s] ('Enzo', 'Francisco Enzo', 20)

INFO:sqlalchemy.engine.Engine:[generated in 0.00333s] ('Enzo', 'Francisco Enzo', 20)

2023-09-24 03:10:38,396 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [52]:
session.add_all([
    User(name='Valentina', fullname='Maria Valentina', age=23),
    User(name='Antonio', fullname='Antonio da Paixão', age=85),
    User(name='Alice', fullname='Alice Maria Cruz', age=53),
    User(name='Carlos', fullname='Carlos Peixoto', age=28),
    User(name='Virgínia', fullname='Virgínia Amaranto', age=22),
    User(name='Claudionor', fullname='Claudionor Augusto', age=35),
    User(name='Cássia', fullname='Cássia Prado', age=37),
    User(name='Eunice', fullname='Eunice Maria', age=60),
    User(name='Francisca', fullname='Francisca Moreira', age=52)
])

In [53]:
session.commit()

2023-09-24 03:11:42,536 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-09-24 03:11:42,541 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

2023-09-24 03:11:42,545 INFO sqlalchemy.engine.Engine [generated in 0.00020s (insertmanyvalues) 1/9 (ordered; batch not supported)] ('Valentina', 'Maria Valentina', 23)

INFO:sqlalchemy.engine.Engine:[generated in 0.00020s (insertmanyvalues) 1/9 (ordered; batch not supported)] ('Valentina', 'Maria Valentina', 23)

2023-09-24 03:11:42,547 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

2023-09-24 03:11:42,549 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/9 (ordered; batch not supported)] ('Antonio', 'Antonio da Paixão', 85)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 2/9 (ordered; batch not supported)] ('Antonio', 'Antonio da Paixão', 85)

2023-09-24 03:11:42,551 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

2023-09-24 03:11:42,553 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/9 (ordered; batch not supported)] ('Alice', 'Alice Maria Cruz', 53)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 3/9 (ordered; batch not supported)] ('Alice', 'Alice Maria Cruz', 53)

2023-09-24 03:11:42,554 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

2023-09-24 03:11:42,556 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/9 (ordered; batch not supported)] ('Carlos', 'Carlos Peixoto', 28)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 4/9 (ordered; batch not supported)] ('Carlos', 'Carlos Peixoto', 28)

2023-09-24 03:11:42,557 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

2023-09-24 03:11:42,559 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/9 (ordered; batch not supported)] ('Virgínia', 'Virgínia Amaranto', 22)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 5/9 (ordered; batch not supported)] ('Virgínia', 'Virgínia Amaranto', 22)

2023-09-24 03:11:42,560 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

2023-09-24 03:11:42,561 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/9 (ordered; batch not supported)] ('Claudionor', 'Claudionor Augusto', 35)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 6/9 (ordered; batch not supported)] ('Claudionor', 'Claudionor Augusto', 35)

2023-09-24 03:11:42,563 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

2023-09-24 03:11:42,564 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/9 (ordered; batch not supported)] ('Cássia', 'Cássia Prado', 37)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 7/9 (ordered; batch not supported)] ('Cássia', 'Cássia Prado', 37)

2023-09-24 03:11:42,566 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

2023-09-24 03:11:42,588 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/9 (ordered; batch not supported)] ('Eunice', 'Eunice Maria', 60)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 8/9 (ordered; batch not supported)] ('Eunice', 'Eunice Maria', 60)

2023-09-24 03:11:42,590 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

2023-09-24 03:11:42,591 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/9 (ordered; batch not supported)] ('Francisca', 'Francisca Moreira', 52)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 9/9 (ordered; batch not supported)] ('Francisca', 'Francisca Moreira', 52)

2023-09-24 03:11:42,594 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

## **Consultar objetos (SELECT)**

In [ ]:
query_user = session.query(User).filter_by(name='Enzo').first()

In [55]:
query_user.fullname

'Francisco Enzo'

In [56]:
query_user.id

1

In [65]:
for instance in session.query(User).order_by(User.id):
    print(instance.name, instance.fullname)

2023-09-24 04:09:56,862 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.age AS users_age
FROM users ORDER BY users.id

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.age AS users_age
FROM users ORDER BY users.id

2023-09-24 04:09:56,865 INFO sqlalchemy.engine.Engine [cached since 1276s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 1276s ago] ()

Enzo Francisco Enzo
Valentina Maria Valentina
Antonio Antonio da Paixão
Alice Alice Maria Cruz
Carlos Carlos Peixoto
Virgínia Virgínia Amaranto
Claudionor Claudionor Augusto
Cássia Cássia Prado
Eunice Eunice Maria
Francisca Francisca Moreira

In [63]:
for info in session.query(User.name, User.age).filter_by(name='Enzo'):
    print(info)

2023-09-24 04:09:44,091 INFO sqlalchemy.engine.Engine SELECT users.name AS users_name, users.age AS users_age
FROM users
WHERE users.name = ?

INFO:sqlalchemy.engine.Engine:SELECT users.name AS users_name, users.age AS users_age
FROM users
WHERE users.name = ?

2023-09-24 04:09:44,094 INFO sqlalchemy.engine.Engine [cached since 991.9s ago] ('Valentina',)

INFO:sqlalchemy.engine.Engine:[cached since 991.9s ago] ('Valentina',)

('Valentina', 23)

## **Modificar Objetos(UPDATE)**

In [66]:
user.fullname

'Francisco Enzo'

In [67]:
user.fullname = 'Francisco Enzo Sousa'

In [68]:
user

In [ ]:
session.dirty

In [69]:
session.commit()

2023-09-24 04:16:26,831 INFO sqlalchemy.engine.Engine UPDATE users SET fullname=? WHERE users.id = ?

INFO:sqlalchemy.engine.Engine:UPDATE users SET fullname=? WHERE users.id = ?

2023-09-24 04:16:26,834 INFO sqlalchemy.engine.Engine [generated in 0.00323s] ('Francisco Enzo Sousa', 1)

INFO:sqlalchemy.engine.Engine:[generated in 0.00323s] ('Francisco Enzo Sousa', 1)

2023-09-24 04:16:26,841 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

## **Deletar objetos (DELETE)**

In [70]:
user = session.query(User).filter_by(name='Valentina').first()

2023-09-24 05:18:39,272 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-09-24 05:18:39,276 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.age AS users_age
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.age AS users_age
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?

2023-09-24 05:18:39,278 INFO sqlalchemy.engine.Engine [cached since 5593s ago] ('Valentina', 1, 0)

INFO:sqlalchemy.engine.Engine:[cached since 5593s ago] ('Valentina', 1, 0)

In [71]:
user

In [72]:
session.delete(user)

In [73]:
session.commit()

2023-09-24 05:19:44,908 INFO sqlalchemy.engine.Engine DELETE FROM users WHERE users.id = ?

INFO:sqlalchemy.engine.Engine:DELETE FROM users WHERE users.id = ?

2023-09-24 05:19:44,911 INFO sqlalchemy.engine.Engine [generated in 0.00321s] (2,)

INFO:sqlalchemy.engine.Engine:[generated in 0.00321s] (2,)

2023-09-24 05:19:44,913 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [74]:
user = session.query(User).filter_by(name = 'valentina').count()

2023-09-24 05:23:03,753 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-09-24 05:23:03,760 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.age AS users_age
FROM users
WHERE users.name = ?) AS anon_1

INFO:sqlalchemy.engine.Engine:SELECT count(*) AS count_1
FROM (SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.age AS users_age
FROM users
WHERE users.name = ?) AS anon_1

2023-09-24 05:23:03,764 INFO sqlalchemy.engine.Engine [generated in 0.00380s] ('valentina',)

INFO:sqlalchemy.engine.Engine:[generated in 0.00380s] ('valentina',)